@charset "UTF-8";
/*
 :::  Reset
-------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Fira+Mono:400,700);
html {
  box-sizing: border-box;
  overflow-y: -moz-scrollbars-vertical;
  overflow-y: scroll; }

*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: inherit;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; }

article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, subhead, summary {
  display: block; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*-------------------------------------------------- */
/*
 :::  Variables
-------------------------------------------------- */
/*
 :::  mixins and functions
-------------------------------------------------- */
/*
 :::  Basics
-------------------------------------------------- */
::selection {
  background: #C7F464;
  color: #fff;
  text-shadow: none; }

::-moz-selection {
  background: #C7F464;
  color: #fff;
  text-shadow: none; }

body,
input,
select,
button,
textarea {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; }

h1,
h2 {
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility; }

html,
body,
input,
select,
button,
textarea {
  font-family: "Fira Mono", monospace;
  font-size: 1em;
  line-height: 1.1;
  font-weight: 400;
  color: #fff;
  background: #292f36; }

strong {
  font-weight: 700; }

em {
  font-style: italic; }

hr {
  display: block;
  border-top: 1px solid #4ECDC4;
  margin: 1.5em 0; }

img {
  border: none;
  vertical-align: middle; }

a {
  color: #C7F464; }
  a:focus, a:hover, a:active {
    text-decoration: underline; }

button {
  background: none; }

/*
 :::  Header
-------------------------------------------------- */
header {
  padding: 1em 5.6339%;
  background: #556270;
  text-align: center;
  font-size: 1.2em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10; }
  header button.setting {
    position: absolute;
    right: 6.3493297811%;
    font-size: 1.3em;
    top: 50%;
    transform: translateY(-50%);
    outline: none; }
  header button.nav {
    outline: 0;
    display: block;
    margin-left: 1em;
    width: 90%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  header .journeynav {
    margin-right: 1.8em;
    line-height: 1;
    font-size: 1em;
    text-align: left;
    position: relative; }
    header .journeynav .arrow {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      display: inline-block;
      transform: rotate(90deg);
      transform-origin: center 0; }

/*
 :::  Main
-------------------------------------------------- */
main {
  padding: 6em 5.6339% 1em; }

.trip {
  position: relative;
  border-bottom: 2px solid #4ECDC4;
  padding-bottom: 1.2em;
  margin-bottom: 1.5em; }
  .trip .line {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    padding: .25em .3em .05em;
    border: 1px solid #556270;
    background: #3f4953;
    text-align: center;
    min-width: 2.4em; }
  .trip .departure {
    text-align: center;
    position: relative; }
    .trip .departure .time {
      font-size: 2em;
      margin-bottom: .1em;
      display: inline-block; }
    .trip .departure .delay:not(:empty) {
      position: absolute;
      bottom: 0;
      display: inline-block;
      border: 1px solid #C7F464;
      font-size: 0.8235294118em;
      width: 2em;
      height: 2em;
      line-height: 1.45em;
      padding: .3em;
      border-radius: 50%;
      letter-spacing: -.15em;
      text-indent: -.2em;
      margin-left: .3em; }
  .trip .timeleft {
    padding: .3em .4em .1em;
    text-align: center;
    margin-bottom: .5em; }
    .trip .timeleft.easy {
      color: #C7F464; }
    .trip .timeleft.hurry {
      color: #FF6B6B; }
  .trip .details {
    display: block;
    outline: 0;
    width: 100%;
    text-align: left; }
    .trip .details .lineover {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 1em;
      position: relative; }
      .trip .details .lineover:after {
        content: '⦾';
        position: absolute;
        right: 0;
        top: .1em;
        color: #556270; }
    .trip .details .stationlist {
      border-top: 1px dashed #4ECDC4;
      padding-top: 1em;
      margin-top: 1em; }
      .trip .details .stationlist.hidden {
        display: none; }
      .trip .details .stationlist li {
        list-style: circle;
        list-style-position: inside;
        margin-bottom: .1em;
        margin-left: 1.5em;
        line-height: 1.2;
        white-space: normal;
        text-indent: -1.08em; }

.settings .location {
  margin-bottom: 1em; }
  .settings .location .label {
    display: block;
    margin-bottom: .5em; }
  .settings .location input {
    appearance: none;
    border-radius: 0;
    border: 1px solid #C7F464;
    width: 100%;
    display: block;
    padding: .3em .5em .1em;
    line-height: 1.5; }
    .settings .location input:placeholder-shown {
      border-color: white; }
    .settings .location input:invalid {
      border-color: #FF6B6B; }
  .settings .location.walk input {
    width: 30%;
    text-align: right;
    display: inline-block; }
.settings .submit button {
  border: 1px solid white;
  display: block;
  padding: .4em .5em .2em;
  line-height: 1.5;
  width: 100%;
  background: #556270;
  user-select: none; }
  .settings .submit button:focus, .settings .submit button:hover, .settings .submit button:active {
    background: #C7F464;
    color: #292f36;
    border-color: #C7F464; }

.journeys {
  border-bottom: 2px solid #4ECDC4;
  padding-bottom: 2em;
  margin-bottom: 2.2em; }
  .journeys .journey {
    border-bottom: 1px solid #556270; }
    .journeys .journey:last-child {
      border-bottom: none; }
    .journeys .journey .goto {
      width: calc(100% - 4em);
      text-align: justify;
      padding-top: 1.1em;
      outline: 0; }
      .journeys .journey .goto:after {
        content: '';
        width: 100%;
        display: inline-block;
        line-height: 0;
        height: 0;
        font-size: 0; }
    .journeys .journey .delete {
      font-size: 1.5em;
      float: right;
      width: 1em;
      height: 1em;
      background-color: #FF6B6B;
      border-radius: 50%;
      position: relative;
      top: .5em; }

main h1 {
  font-size: 1.1em;
  margin-bottom: .6em;
  line-height: 1.2; }
main p {
  margin-bottom: .3em; }

footer {
  padding: 1em 5.6339%;
  margin-top: 20em;
  text-align: right;
  position: absolute;
  top: calc(100vh + 2em);
  right: 0;
  font-size: .5em; }

/*# sourceMappingURL=do_not_edit_this.css.map */
