@import "_mini-reset";
@import url(https://fonts.googleapis.com/css?family=Fira+Mono:400,700);


/*
 :::  Variables
-------------------------------------------------- */

// sizes and fonts
$sans_serif: 'Fira Mono', monospace;
$normaltext: 400;
$strongtext: 700;
$basefont: 17;

// color
$blue: #4ECDC4;
$yellow: #C7F464;
$red: #FF6B6B;
$white: #fff;
$grey: #556270;
$black: darken($grey, 20);



// hovershortcut
$hover: "&:focus, &:hover, &:active";

// wrapping
$wrap: 5.6339%;
$unwrap: ((100%*$wrap)/(100%-(2*$wrap)));


/*
 :::  mixins and functions
-------------------------------------------------- */

@function em($target, $context: $basefont) {
	@return ($target / $context) * 1em;
}


@mixin clearfix() {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin hidetext() {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}


/*
 :::  Basics
-------------------------------------------------- */

::selection {
	background: $yellow;
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
	background: $yellow;
	color: #fff;
	text-shadow: none;
}


// Font stuff
body,
input,
select,
button,
textarea {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

h1,
h2 {
	-webkit-font-smoothing: subpixel-antialiased;
	text-rendering: optimizeLegibility
}

html,
body,
input,
select,
button,
textarea {
	font-family: $sans_serif;
	font-size: 1em;
	line-height: 1.1;
	font-weight: $normaltext;
	color: $white;
	background: $black;
}

strong {
	font-weight: $strongtext;
}

em {
	font-style: italic;
}

hr {
	display: block;
	border-top: 1px solid $blue;
	margin: 1.5em 0;
}

img {
	border: none; //IE8
	vertical-align: middle; // removes 3px margin-bottom http://stackoverflow.com/a/10844318
}

a {
	color: $yellow;
	#{$hover} {
		text-decoration: underline;
	}
}

button {
	background: none;
}

/*
 :::  Header
-------------------------------------------------- */

header {
	padding: 1em $wrap;
	background: $grey;
	text-align: center;
	font-size: 1.2em;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	button.setting {
		position: absolute;
		right: $unwrap;
		font-size: 1.3em;
		top: 50%;
		transform: translateY(-50%);
		outline: none;
	}
	button.nav {
		outline: 0;
		display: block;
		margin-left: 1em;
		width: 90%;
		text-align: left;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		&.prev {
			margin-bottom: .3em;
		}
	}
	.journeynav {
		margin-right: 1.8em;
		line-height: 1;
		font-size: 1em;
		text-align: left;
		position: relative;
		.arrow {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			display: inline-block;
			transform: rotate(90deg);
			transform-origin: center 0;
		}
	}
}

/*
 :::  Main
-------------------------------------------------- */
main {
	padding: 6em $wrap 1em;
}



.trip {
	position: relative;
	border-bottom: 2px solid $blue;
	padding-bottom: .4em;
	margin-bottom: 1.8em;
	.line {
		position: absolute;
		top: 0;
		right: 0;
		display: inline-block;
		padding: .25em .3em .05em;
		border: 1px solid $grey;
		background: darken($grey, 10);
		text-align: center;
		min-width: 2.4em;
	}
	.departure {
		text-align: center;
		position: relative;
		.time {
			font-size: 2em;
			margin-bottom: .1em;
			display: inline-block;
		}
		.delay:not(:empty) {
			position: absolute;
			bottom: 0;
			display: inline-block;
			border: 1px solid $yellow;
			font-size: em(14);
			width: 2em;
			height: 2em;
			line-height: 1.45em;
			padding: .3em;
			border-radius: 50%;
			letter-spacing: -.15em;
			text-indent: -.2em;
			margin-left: .3em;
		}
	}
	.timeleft {
		padding: .3em .4em .1em;
		text-align: center;
		margin-bottom: .5em;
		&.easy {
			color: $yellow;
		}
		&.hurry {
			color: $red;
		}
	}
	.details {
		display: block;
		outline: 0;
		width: 100%;
		text-align: left;
		.lineover {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			padding-right: 1em;
			position: relative;
			&:after {
				content: '⦾';
				position: absolute;
				right: 0;
				top: .1em;
				color: $grey;
			}
		}
		.stationlist {
			border-top: 2px dashed $blue;
			padding-top: .8em;
			margin-top: .6em;
			margin-bottom: .2em;
			&.hidden {
				display: none;
			}
			li {
				list-style: circle;
				list-style-position: inside;
				margin-bottom: .1em;
				margin-left: 1.5em;
				line-height: 1.2;
				white-space: normal;
				text-indent: -1.08em;
			}
		}
	}
}


.settings {
	.location {
		margin-bottom: 1em;
		.label {
			display: block;
			margin-bottom: .5em;
		}
		input {
			appearance: none;
			border-radius: 0;
			border: 1px solid $yellow;
			width: 100%;
			display: block;
			padding: .3em .5em .1em;
			line-height: 1.5;
			&:placeholder-shown {
				border-color: white;
			}
			&:invalid {
				border-color: $red;
			}
		}
		&.walk input {
			width: 30%;
			text-align: right;
			display: inline-block;
		}
	}
	.submit button {
		border: 1px solid white;
		display: block;
		padding: .4em .5em .2em;
		line-height: 1.5;
		width: 100%;
		background: $grey;
		user-select:none;
		#{$hover} {
			background: $yellow;
			color: $black;
			border-color: $yellow;
		}
	}
}

.journeys {
	border-bottom: 2px solid $blue;
	padding-bottom: 2em;
	margin-bottom: 2.2em;
	.journey {
		border-bottom: 1px solid $grey;
		&:last-child{
			border-bottom: none;
		}
		.goto {
			position: relative;
			width: calc(100% - 4em);
			text-align: left;
			padding: .6em 0 .5em 1em;
			outline: 0;
			.from,
			.to {
				line-height: 1.3;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
			.arrow {
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				display: inline-block;
				transform: rotate(90deg);
				transform-origin: center 0;
			}
		}
		.delete {
			font-size: 1.5em;
			float: right;
			width: 1em;
			line-height: 1;
			height: 1em;
			background-color: $red;
			border-radius: 50%;
			position: relative;
			top: .5em;
		}
	}
}

main {
	h1 {
		font-size: 1.1em;
		margin-bottom: .6em;
		line-height: 1.2;
	}
	p {
		margin-bottom: .3em;
	}
}

footer {
	padding: 1em $wrap;
	margin-top: 20em;
	text-align: right;
	position: absolute;
	top: calc(100vh + 2em);
	right: 0;
	font-size: .5em;
}
